@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

header {
    height: 23.7vh;
    text-align: center;
    background-color: #bbb;
}

main {
    margin: 0 10vw;
    font-family: Arial, Helvetica, sans-serif;
}

.page-title {
    color: #3366CC;
    border-top: 8px solid #3366CC;
    border-bottom: 8px solid #3366CC;
    text-align: center;
    padding: 7.4vh 0;
    margin-bottom: 23.7vh;
}

.page-title h1::before {
    content: '';
    display: block;
    background-image: url(../img/icon.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 21vw;
}

.page-title h1 {
    font-size: 56px;
    margin: 0;
    position: relative;
}

.page-title p {
    font-size: 18px;
    margin-top: 1.5vh;
}

.page-title h1, p {
    line-height: 5vh;
}
.page-title-phone {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.4vh;
}

.content-img {
    text-align: center;
    background-color: #bbb;
    width: 52vw;
    height: 52vh;
    border-radius: 10px;
}

.info-wrapper {
    height: 52vh;
    padding: 7.4vh 3.3vw;
    background-color: #F4F7FD;
    border-radius: 10px;
}

.info {
    overflow-y: scroll;
    height: 40vh;

}

.info::-webkit-scrollbar {
    width: 3px;
}
.info::-webkit-scrollbar-thumb {
    background-color: #3366CC;
    border-radius: 5px;
}

.info span {
    color: #3366CC;
    margin-right: 2.3vw;
}

.info dt {
    font-size: 16px;
    padding-top: 1.5vh;
    border-top: 1px dashed #707070;
}

.info dd {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.74vh;
    padding-bottom: 1.5vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.last-dd {
    border-bottom: 1px dashed #707070;
}

article {
    width: 52vw;
}

.article-title {
    display: flex;
    margin-bottom: 3.7vh;
    line-height: 38px;
}

.article-icon {
    color: #FF9900;
    font-size: 18px;
    border: 2px solid #FF9900;
    border-radius: 14px;
    padding: 0 22px;
    white-space: nowrap;
}

.article-title h2 {
    color: #333333;
    margin-left: 1.7vw;
    font-size: 32px;
    /* white-space: nowrap; */
}

.article-content {
    color: #333333;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 7.4vh;
}

.page-namber {
    background-color: #bbb;
    text-align: center;
    margin-bottom: 7.4vh;
    width: 52vw;
}

.top-page {
    width: 52vw;
    text-align: center;
    margin-bottom: 23.7vh;
}

.top-page a {
    display: inline-block;
    font-size: 18px;
    padding-bottom: 5px;
}

.top-page a::before {
    content: '';
    display: inline-block;
    background-image: url(../img/icon2.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.top-page a:link {
    color: #333333;
    text-decoration: none;
}

footer {
    background-color: #bbb;
    height: 320px;
    text-align: center;
}

@media screen and (max-width:400px) {
    header, .page-title, .info, .page-namber{
        display: none;
    }

    .page-title-phone {
        display: block;
        font-size: 15px;
        color: #707070;
        margin-top: 7.4vh;
        text-align: center;
    }
    
    .content-img {
        width: 90vw;
        height: 35vh;
        margin: 7.4vh auto;
    }

    article {
        width: 80vw;
        margin: 0;
    }

    .article-title {
        display: block;
    }

    .article-icon {
        border: none;
        padding-left: 3px;
        font-size: 16px;
    }

    .article-title h2 {
        margin: 0;
        font-size: 24px
    }

    .article-content {
        font-size: 16px;
        line-height: 27px;
    }

    .top-page {
        width: 80vw;
        margin-bottom: 23.7vh;
    }

    footer {
        height: 230px;
    }
}